@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color2 {
    color: #FFFFFF;
}

.color1 {
    color: #FF5400;
}

.rem1{
    font-size: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 800;
}

.hero-logo{
    gap: 18px;
}

.navbar  > div, ul {
    display: flex;
}

.navbar img {
    height: 56px;
    width: 58px;
    margin-top: 30px;
}

.nav-links{
    list-style: none;
    display: flex;
}
    
.nav-links li {
    position: relative;
    margin: 0 18px;
}

.nav-links a {
    text-decoration: none;
    color: #131313;
    font-size: 18px;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: #131313;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.header-content {
    height: 500px;
    max-width: 1170px;
    margin: 50px auto;
    background: linear-gradient( rgba(19, 19, 24, 0), rgba(19, 19, 24, 1)), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    height: 70%;
    width: 800px;

}

.header-writing {
    width: 676px;
    height: 156px;
    margin: 0 auto 48px auto;
    text-align: center;
}

.header-title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.input-fields {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    align-items: center;
    height: 84px;
    width: 800px;
    margin: 0 auto;

}

input {
    padding-left: 15px;
}

.inp  {
    height: 52px;
    width: 174px;
    border-radius: 8px;
    border: none;
}

.btn {
    height: 52px;
    width:  174px;
    color: #FFFFFF;
    background: #FF5400;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

/* popular tour */

.popular-tour {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}

.popular-content{
    height: 750px;
    width: 580px;
    font-size: 1rem;
}

/* destination */

.destination {
    width: 90%;
    margin: 0 auto;
}

.choose {
    width: 645px;
    height: 125px;
    margin: 100px auto 48px auto;
    text-align: center;
}

.destination-img{
    display: grid;
    grid-template-columns: repeat(2, 575px);
    gap: 24px;
    justify-content: center;
    /* place-items: center; */
}

.img1 { grid-column: 1; grid-row: 1; }
.img2 { grid-column: 2; grid-row: 1; }

/* Column 2 - 3 Images */
.img3 { grid-column: 1; grid-row: 2; }
.img4 { grid-column: 2; grid-row: 2; }
.img5 { grid-column: 3; grid-row: 2; }

/* Column 3 - 2 Images */
.img6 { grid-column: 1; grid-row: 3; }
.img7 { grid-column: 2; grid-row: 3; }

.destination-img img {
    width: 100%;
}

.img-container{
    position: relative;
    width: fit-content;
}

.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

/* why choose us */

.reasons{
    display: grid;
    grid-template-columns: repeat(2, 650px);
    gap: 24px;
    justify-content: center;
    place-items: center;
}

.reason1, .reason2, .reason3 {
    width: 575px;
    height: 285px;
    padding: 32px 55px 32px 32px;   
}

.reason1{
    background: rgba(251, 181, 99, 0.2);
}

.reason2{
    background: rgba(255, 84, 0, 0.2);
}

.reason3{
    background: rgba(0, 0, 0, 0.2);
}

@media screen  and (max-width: 576px) {
    .nav-links{
        position: absolute;
        display: none;
    }    
    #menu-toggle:checked + .nav-links {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .header-content{
        width: 335px;
        height: 540px;
        margin: 30px auto;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-writing{
        width: 304px;
        height: 100px;
        text-align: center;
        padding-top: 0;
    }
    .header-title{
        font-size: 1.375rem;
    }
    .input-fields{
        flex-direction: column;
        height: 288px;
        width: 288px;
        padding: 0;
        gap: 12px;
    }
    .inp, .btn{
        height: 52px;
        width: 255px;
    }
}
